//- Pearl Head
//- Copyright(c) 2012 King Pearl LLC
//- MIT Licensed
head
	meta(charset='utf-8')

	meta(http-equiv='x-ua-compatible', content='ie=edge')

	title= title
	meta(name='description', content=description)
	meta(name='keywords', content=keywords)

	meta(name='viewport', content='width=device-width, initial-scale=1')

	link(rel='manifest', hre='/site.webmanifest')
	link(rel='apple-touch-icon', href='/icon.png')

	//- style
	block style
		include _style
